.checkout-payment__item.active {
    background: #faf9ff;
    padding-bottom: 35px;
}

.checkout-payment__item {
    margin-bottom: 30px;
    border: 1px solid #eee;
    padding: 42px 39px 36px;
}

.radio-box {
 
    padding-left: 8px; 
    display: flex;
  
}

