.section-videos {
  max-width: 800px;
  margin: auto;

  .video-container {
    display: flex;
    position: relative;
    padding: 2.5rem 1rem;

    .video-background {
      position: absolute;
      top: -1.5rem;
      bottom: -1.5rem;
      right: -1.5rem;
      width: 66.67%;
      border-radius: 1rem;
      background-color:  rgba(252, 237, 234, 0.9);;
      z-index: 0;
    }

    .video-main {
      flex-grow: 1;
      position: relative;
    }

    .main-video {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
      overflow: hidden;
      border: 10px solid white;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      .video-iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }

      .play-button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }

      .video-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem;
      }
    }

    .video-sub-list {
      flex-shrink: 0;
      display: grid;
      gap: 0.7rem;
      height: 500px;
      object-fit: cover;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      padding: 1rem 2rem;

      .sub-video {
        position: relative;
        border-radius: 0.5rem;
        cursor: pointer;
        overflow: hidden;
        width: 160px;
        height: 100px;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: scale(1.05);
        }

        .play-button {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;
          cursor: pointer;
          border-radius: 0.5rem;
          transition: opacity 0.3s;

          &:hover {
            opacity: 0.8;
          }
        }

        .sub-video-thumbnail {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s;
          display: block;

          &:hover {
            transform: scale(1.05);
          }
        }

        
      }
    }
  }
}
